@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
  justify-content: space-around; /* change this line */
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 25%; /* adjust this line */
  flex-grow: 1;
  padding: 0 4px;
  gap: 10px;
}

.photo {
  margin: 4px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 5px;
}

.name {
	font-family: "Russo One", sans-serif;
	text-align: center;
	margin: 2% 0 4% 0;
	color: #9FA07F;
	letter-spacing: 2px;
}

form {
	width: 75%;
	margin: 5% auto;
	background: #253030;
	border-radius: 10px;
	padding: 30px;
}


/* Media queries to adjust the layout for smaller screens */
@media screen and (max-width: 800px) {
  .column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%;
  }
}